@import "modern-normalize/modern-normalize.css";

:root {
  --background: #111322;
  --foreground: #ffffff;

  --accent-warning: #deb86f;
  --button: #709edf;
  --button-hover: #3a48bf;
  --accent-success: #79de6f;
  --accent-success-hover: #4b7965;
  --red-danger: #d20603;
  --red-danger-hover: #9f0200;
  --muted-blue: #939ca9;
  --light-grey-blue: #c8d1df;
  --dark-grey: #212934;

  --bottom-nav-height: 76px;
  --section-vertical-padding: 60px;

  --pad-page-x: 25px;
  --pad-items-y: 18px;
  --btn-py: 14px;
  --btn-px: 40px;
  --btn-md-py: 12px;
  --btn-md-px: 20px;
  --btn-sm-py: 5px;
  --btn-sm-px: 35px;
  --btn-border-radius: 50px;

  --gap-sm: 10px;
  --gap-md: 15px;
  --gap-lg: 28px;

  --heading-lg: 32px;
  --heading-md: 24px;
  --heading-sm: 16px;
  --body-lg: 20px;
  --body-md: 18px;
  --body-sm: 16px;
  --btn-text: 18px;
  --btn-text-sm: 16px;

  --border-radius-sm: 10px;
  --border-radius-md: 14px;
  --border-radius-lg: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-cabin), Helvetica, sans-serif;
  font-size: var(--body-md);
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: var(--font-montserrat), Helvetica, sans-serif;
  font-weight: 400;
  font-size: var(--heading-md);
}

h3 {
  font-family: var(--font-montserrat), Helvetica, sans-serif;
  font-weight: 500;
  font-size: var(--heading-sm);
}

.section {
  padding: var(--section-vertical-padding) 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-size: var(--btn-text);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: not-allowed;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ======== Styles for Mobile devices ======== */
.container {
  width: 100%;
  max-width: 412px;
  margin: 0 auto;
  padding: 0 var(--pad-page-x);
}

/* ======== Styles for Small Mobile devices ======== */
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

/* ======== Styles for Tablet devices ======== */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* ======== Styles for Desktop devices ======== */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
