.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  width: 100%;
  padding-bottom: var(--gap-lg);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  width: 100%;
}

.heading {
  margin-top: var(--gap-lg);
  font-size: 32px;
  max-width: 362px;
}

.text {
  font-size: var(--body-lg);
  max-width: 362px;
}

.featList {
  border-radius: var(--border-radius-lg);
  padding: var(--pad-items-y) var(--pad-page-x);
  background-color: var(--light-grey-blue);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.listItemFeat {
  display: flex;
  font-size: var(--body-lg);
  color: var(--background);
  font-family: var(--font-montserrat);
  font-weight: 400;
  align-items: center;
}

.perks {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.perksList {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  gap: 40px;
}

.ctaWrapper {
  display: flex;
  gap: var(--gap-md);
  width: 100%;
}

.ctaWrapper > * {
  flex: 1;
}

.accentText {
  color: var(--accent-success);
}

.featureIcon {
  fill: var(--button-hover);
  margin-right: 40px;
}

.perkListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 140px;
}

.perkIcon {
  fill: var(--accent-success);
}

@media screen and (max-width: 364px) {
  .ctaWrapper {
    flex-direction: column;
  }

  .perksList {
    flex-direction: column;
  }

  .perkListItem {
    height: 100px;
  }

  .heading {
    font-size: var(--heading-md);
  }

  .text,
  .listItemFeat {
    font-size: var(--body-md);
  }

  .featList {
    gap: var(--gap-md);
  }

  .featureIcon {
    margin-right: var(--gap-lg);
  }
}
