.button {
  border-radius: var(--btn-border-radius);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  font-size: var(--btn-text-lg);
  font-weight: 600;
  text-align: center;
  padding: var(--btn-py);
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--button);
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.primary:hover {
  background-color: var(--button-hover);
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--button);
  color: var(--button);
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.secondary:hover {
  border: 2px solid var(--button-hover);
  color: var(--foreground);
}

.reset {
  background-color: transparent;
  border: none;
  width: fit-content;
}
