.button {
  border-radius: var(--btn-border-radius);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  font-size: var(--btn-text-lg);
  font-weight: 600;
  text-align: center;
  padding: var(--btn-py);
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 52px;
}

.primary {
  background-color: var(--button);
  border: none;
  transition: background-color 0.3 var(--easing-for-anims);
}

.primary:hover,
.primary:focus {
  outline: none;
  background-color: var(--button-hover);
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--button);
  color: var(--button);
  transition:
    color 0.3s var(--easing-for-anims),
    border-color 0.3s var(--easing-for-anims);
}

.secondary:hover,
.secondary:focus {
  outline: none;
  border: 2px solid var(--button-hover);
  color: var(--foreground);
}

.reset {
  background-color: transparent;
  border: none;
  width: auto;
  padding: 0;
  min-width: 0;
  width: auto;
  height: auto;
  font-size: var(--body-md);
  font-family: var(--font-cabin);
  font-weight: 400;
  color: var(--muted-blue);
  transition:
    color 0.3s var(--easing-for-anims),
    background-color 0.3s var(--easing-for-anims);
}

.reset:hover,
.reset:focus {
  outline: none;
  background-color: transparent;
  color: var(--foreground);
}
