.backdrop {
  background-color: rgba(255, 255, 255, 15%);
}

.overlay {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.closeButton {
  background-color: transparent;
  align-self: flex-end;
}
.closeIcon {
  fill: var(--foreground);
  transition: fill 0.3s ease-in-out;
}

.closeIcon:hover {
  fill: var(--button);
}

.title {
  text-align: center;
}

.content {
}
