.page {
  padding: var(--section-vertical-padding) 0;
}

.title {
  margin-bottom: var(--gap-lg);
}

.list {
  display: grid;
  gap: var(--gap-md);
}

.item {
  padding: var(--pad-items-y);
  background: var(--dark-grey);
  border-radius: var(--border-radius-md);
  color: var(--foreground);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--gap-lg);
}

.buttonWrapper button {
  width: 312px;
}
