.page {
  padding: var(--section-vertical-padding) 0;
}

.title {
  margin-bottom: var(--gap-lg);
}

.list {
  display: grid;
  gap: var(--gap-md);
}

.item {
  padding: var(--pad-items-y);
  background: var(--dark-grey);
  border-radius: var(--border-radius-md);
  color: var(--foreground);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--gap-lg);
}

.showMoreButton {
  min-width: 312px;
  padding: var(--btn-py) var(--btn-px);
  border: 1px solid var(--button);
  border-radius: var(--btn-border-radius);
  background: transparent;
  color: var(--button);
}

.showMoreButton:hover {
  background: var(--button);
  color: var(--foreground);
}
