.numberInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  margin-bottom: var(--gap-sm);
}

.stepper {
  display: flex;
  align-items: center;
  width: 162px;
  height: 52px;
  border: 1px solid var(--muted-blue);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.stepperButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 100%;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

.stepperIcon {
  fill: var(--foreground);
}

.numberInput {
  width: 58px;
  height: 100%;
  border: none;
  border-left: 1px solid var(--muted-blue);
  border-right: 1px solid var(--muted-blue);
  background-color: transparent;
  text-align: center;
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  outline: none;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberInput[type="number"] {
  appearance: textfield;
}

.errorText {
  color: var(--red-danger);
}

.stepperErrorState {
  border-color: var(--red-danger);
}
