.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.label {
  font-size: var(--body-sm);
}

.input {
  background-color: transparent;
  border: 1px solid var(--muted-blue);
  border-radius: var(--border-radius-md);
  padding: var(--input-pad);
  transition: border-color 0.3 var(--easing-for-anims);
}

.input::placeholder {
  color: var(--muted-blue);
}

.input:focus,
.input:hover,
.input:active {
  outline: none;
  border-color: var(--button);
}
.errorText {
  font-size: var(--heading-sm);
  color: var(--red-danger);
}

.inputErrorState {
  border: 1px solid var(--red-danger);
}

.inputDisabled {
  border: 1px solid var(--input-disabled);
  cursor: not-allowed;
}

.inputDisabled:hover,
.inputDisabled:focus {
  border: 1px solid var(--input-disabled);
}
